<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quoteslist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
 
</head>
<body>
	<h1>New quote</h1>
	<div>
		<form th:action="@{/logout}" action="#" method="post">
			<input type="submit" class="btn btn-success" value="Logout"></input>
		</form>
		<form th:object="${quote}" th:action="@{/update/{id}(id=${quote.id})}" action="#" method="post">
			<input type="hidden" th:value="*{id}">
			<input type="text" th:field="*{text}" class="form-control"/>
			<input type="submit" class="btn btn-success" value="Save"></input>
			<a th:href="@{/}">Cancel</a>
		</form>
	</div>
</body>
</html>